body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    box-sizing: border-box;
    background-color: #1c468e;
    padding: 0 0 2px 0;
    color: #ddd;
    margin: 0 0 2px 0;
}

div {
    box-sizing: border-box;
    padding: 1px;
    margin: 4px;
}

.container {
    box-sizing: border-box;
    text-align: center;
    padding: 2vw;
}

.link {
    display: flex;
    box-sizing: content-box;
    background: none;
    border: none;
    color: #c4e9f5;
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;
    padding: 2px;
    margin: 1vw;
}

.menu {
    display: flex;
    box-sizing: border-box;
    background: none;
    border: none;
    color: #c4e9f5;
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;
    padding: 2px;
    margin: 1vw;
}

/*Header*/
.link_de_inicio:hoover {
    text-decoration: underline;
}

.Walt_Disney_World_logo_inicio {
    box-sizing: border-box;
    width: 156px;
    height: 32px;
}

/* Estilos para el menú */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Abrir el menu al pasar el mouse*/
.dropdown:hover .dropdown-content {
    display: block;
    top: 0;
}

/*Menu desplegado*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

/*Section*/
.section {
    display: grid;
    grid-template-areas:
        "nav header aside"
        "nav section aside";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}

.section_1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
    background-color: #1c468e;
    color: #f9f9f9;
    
}

.section_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1c468e;
    color: #f9f9f9;
}

/*Footer*/
#footer_text {
    box-sizing: content-box;
    width: 30vw;
    text-align: center;
    margin: auto;
}